@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.wrapper img{
    height: 20rem;
    aspect-ratio: 1;
}
.btn{
    outline: none;
    border: none;
    width: 70%;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    background: #d6abd0;
    cursor: pointer;
    font-weight: 600;
    font-family:'Merriweather', serif ;
    transition: background 350ms ease;
}
.btn:hover,.btn:focus-visible{
    background: #8bb887;
}
.cancel:hover{
    background: #e08181;
}
.images{
    height: 20rem;
    width: 25rem;
}
.makeNew{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.newForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.newForm > input{
    outline: none;
    border: none;
    width: 20rem;
    font-size: 1.25rem;
    font-family: 'Merriweather', serif;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
}
.newForm > input:focus-visible{
    background: #eed0e9;
}
.savememDiv{
    text-align: center;
    width: 30rem;
}
.savememe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
}